.header {
  background-color: #3b6998;
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
}
.logo {
  border-right: solid 1px #023c70;
  background-color: #235688;
  height: 50px;
  width: 260px;
  color: #fff;
  font-size: 25px;
  font-weight: bold;
  float: left;
  padding: 8px 0px 0px 10px;
}
.user {
  color: #fff;
  float: right;
  padding: 8px 10px 0px 10px;
}
.dropdown {
  float: right;
}
.dropdown .btn {
  font-size: 12px;
  color: #cccccc;
  border: none;
  border-right: solid 1px #6287ad;
  border-bottom: solid 1px #6287ad;
  border-radius: 2px;
  background-color: #0b4073;
}
.dropdown .btn:hover {
  font-size: 12px;
  color: #fff;
  border: none;
  border-right: solid 1px #6287ad;
  border-bottom: solid 1px #6287ad;
  border-radius: 2px;
  background-color: #0b4073;
}
.dropdown .dropdown-menu {
  font-size: 13px;
  border-radius: 0px;
  margin: 0px 0px 0px -82px;
}
.dropdown .dropdown-menu li {
  padding-left: 0px;
  border-top: none;
  color: #666666;
}
.dropdown .dropdown-menu a:hover {
  background-color: #536e8d;
  color: #fff;
  text-decoration: none;
}
.hideung {
  background-color: #333333;
  height: 30px;
  position: fixed;
  top: 50px;
  left: 0;
  width: 100%;
  z-index: 98;
}
.wkt {
  padding: 7px 0px 0px 10px;
  height: 30px;
  background-color: #232323;
  color: #7c7c7c;
  font-size: 11px;
  border-right: solid 1px #1e1e1e;
}

.menu {
  position: fixed !important;
  background-color: #e5e5e5;
  height: 100%;
  margin: 0px 0px 0px 0px;
  padding-top: 10px;
  border-right: solid 1px #bbbbbb;
  top: 70px;
  bottom: 0;
  left: 0;
  z-index: 96;
  display: block;
  overflow-x: hidden;
  overflow-y: auto;
}
.menu a {
  color: #666666;
}
.menu a:hover {
  text-decoration: none;
  background-color: #eeeeee;
  display: block;
  color: #6f6f6f;
}
.menu ul {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
  padding: 0;
}
.menu ul li {
  border-top: solid 1px #bbbbbb;
  line-height: 40px;
  list-style: none;
}
.menu ul li a {
  padding-right: 10px;
  padding-left: 10px;
}
.active {
  background-color: #f5f5f5;
  color: #555555;
  font-weight: bold;
}
.judul {
  background-color: #e5e5e5;
  height: 60px;
  border-bottom: solid 1px #bbbbbb;
  width: 100%;
  padding: 10px 0px 0px 10px;
  z-index: 97;
  display: block;
  position: fixed;
  top: 80px;
  margin: 0 -15px;
}
.kiri {
  background-color: #f0f0f0;
  border-radius: 2px;
  border-top: solid #235688;
  border-right: solid 1px #e2e2e2;
  border-left: solid 1px #e2e2e2;
  border-bottom: solid 1px #e2e2e2;
  font-size: 12px;
  color: #666666;
  margin-top: 155px;
  padding: 10px 30px 10px 30px;
  margin-bottom: 20px;
}
.kanan {
  background-color: #f0f0f0;
  border-radius: 2px;
  border-top: solid #3b6998;
  border-right: solid 1px #e2e2e2;
  border-left: solid 1px #e2e2e2;
  border-bottom: solid 1px #e2e2e2;
  font-size: 12px;
  color: #666666;
  padding: 10px 30px 10px 30px;
  margin-top: 155px;
  margin-bottom: 20px;
}
.box-info {
  background-color: #f0f0f0;
  border-radius: 2px;
  border-top: solid #3b6998;
  border-right: solid 1px #e2e2e2;
  border-left: solid 1px #e2e2e2;
  border-bottom: solid 1px #e2e2e2;
  font-size: 12px;
  color: #666666;
  /* float: right; */
  padding: 0px 30px 10px 30px;
  margin: 20px 20px 30px 30px;
}
.edit {
  background-color: #f0f0f0;
  border-radius: 2px;
  border-top: solid #3b6998;
  border-right: solid 1px #e2e2e2;
  border-left: solid 1px #e2e2e2;
  border-bottom: solid 1px #e2e2e2;
  font-size: 12px;
  color: #666666;
  padding: 0px 30px 10px 30px;
  margin-top: 155px;
}
footer {
  bottom: 1px;
  position: fixed;
  z-index: 97;
  height: 20px;
  background-color: #e5e5e5;
  padding-left: 10px;
}
.login {
  background-color: #444444;
  padding: 15px 15px 15px 15px;
  margin: 0px 140px 0px 30px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
.sirah {
  background-color: #e2e2e2;
  padding: 5px 15px 5px 15px;
  margin: 30px 140px 0px 30px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-top: solid 2px #bbbbbb;
  border-left: solid 2px #bbbbbb;
  border-right: solid 2px #bbbbbb;
  font-size: 20px;
  color: #333333;
}

.popup {
  padding: 1px 1px 1px 1px;
  margin: 100px 140px 0px 30px;
  font-size: 20px;
}
.content {
  margin: 150px 200px 200px 280px;
}
