.header{
    background-color: #3B6998;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99999;
}
.logo{
    border-right: solid 1px #023C70;
    background-color: #235688;
    height: 50px;
    width: 260px;
    color: #fff;
    font-size: 25px;
    font-weight: bold;
    float: left;
    padding: 8px 0px 0px 10px;
}
.user{
    color: #fff;
    float: right;
    padding: 8px 10px 0px 10px;
}
.dropdown .btn{
    font-size: 12px;
    color: #cccccc;
    border: none;
    border-right: solid 1px #6287AD;
    border-bottom: solid 1px #6287AD;
    border-radius: 2px;
    background-color: #0B4073;
}
.dropdown .btn:hover{
    font-size: 12px;
    color: #fff;
    border: none;
    border-right: solid 1px #6287AD;
    border-bottom: solid 1px #6287AD;
    border-radius: 2px;
    background-color: #0B4073;
}
.dropdown .dropdown-menu{
    font-size: 13px;
    border-radius: 0px;
    margin: 0px 0px 0px -67px;
    line-height: 20px;
}
.dropdown .dropdown-menu li{
    padding-left: 0px;
    border-top: none;
    color: #666666;
}
.dropdown .dropdown-menu a:hover{
    background-color: #536E8D;
    color: #fff;
    text-decoration: none;
}
.hideung{
    background-color: #333333;
    height: 30px;
    position: fixed;
    top: 50px;
    left: 0;
    width: 100%;
    z-index: 99999;
}
.wkt{
    padding: 7px 0px 0px 10px;
    height: 30px;
    background-color: #232323;
    color: #7c7c7c;
    font-size: 11px;
    border-right: solid 1px #1e1e1e;
    width: 260px;
}
.menu{
    background-color: #e5e5e5;
    width: 260px;
    height: 100%;
    position: fixed;
    margin: 0px 0px 0px 0px;
    padding-top: 10px;
    border-right: solid 1px #bbbbbb;
    z-index: 99;
}
.menu a{
    color: #666666;
}
.menu a:hover{
    text-decoration: none;
    background-color: #eeeeee;
    display: block;
    color: #6f6f6f;
}
ul{
    padding: 4px 0px 0px 0px;
    margin: 0px;
}
li{
    padding-left: 10px;
    list-style: none;
    line-height: 40px;
    border-top: solid 1px #bbbbbb;
}
.active{
    background-color: #f5f5f5;
    color: #555555;
    font-weight: bold;
}
.judul{
    margin-top: 80px;
    background-color: #e5e5e5;
    height: 60px;
    border-bottom: solid 1px #bbbbbb;
    margin-left: 260px;
    padding: 10px 0px 0px 10px;
}
.kiri{
    background-color: #f0f0f0;
    border-radius: 2px;
    border-top: solid #235688;
    border-right: solid 1px #e2e2e2;
    border-left: solid 1px #e2e2e2;
    border-bottom: solid 1px #e2e2e2;;
    font-size: 12px;
    color: #666666;
    float: left;
    padding: 15px 10px 10px 10px;
    margin: 10px 10px 10px 270px;
    position: relative;
    z-index: 98;
}
.kanan{
    background-color: #f0f0f0;
    border-radius: 2px;
    border-top: solid #3B6998;
    border-right: solid 1px #e2e2e2;
    border-left: solid 1px #e2e2e2;
    border-bottom: solid 1px #e2e2e2;;
    font-size: 12px;
    color: #666666;
    float: right;
    padding: 0px 30px 10px 30px;
    margin: 10px 10px 10px 270px;
}
.text{
    margin-bottom: 10px;
    width: 220px;
    height: 30px;
    border-radius: 2px;
    border: solid 1px #cccccc;
}
footer{
    bottom: 1px;
    position: fixed;
    width: 250px;
    height: 20px;
    background-color: #e5e5e5;
    padding-left: 10px;
}